.container {
    text-align: center;
    align-items: center;
    display: flex;
    height: 100px;
    padding-left: 2rem;
}

.container h3 {
    margin-bottom: 0;
    margin-right: 2rem;
}

input {
    border-color: transparent;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.btn {
    background: hsl(205, 78%, 60%);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-color: transparent;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
}

